CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
curl-*.zip
/.project
bin/cmake/*
vs2012/include/*
vs2012/lib/*
vs2012/bin/*
vs2015/include/*
vs2015/lib/*
vs2015/bin/*
mingw64/bin/*.dll
mingw64/lib/*.lib
mingw64/include/*
mingw32/bin/*.dll
mingw32/lib/*.lib
mingw32/include/*
